a:hover  {
  color: rgba(255, 255, 255, 0.8) !important; /* Blanc avec transparence de 0.8 appliqué sur tous les liens du site */
}



a {
  text-decoration: none; /* Tous les liens du site ne sont pas soulignés*/
}

